<div class="pageTitle">
	Weather Forcast
</div>
<div class="divider"></div>

<div>
	<div class="header">
		Current weather and forecasts in your city :-
		<span class="cityName">
			{{cityName}}
		</span>,
		<span class="countryName">
			{{countryName}}
		</span>.
	</div>
</div>

<div class="mainsection container">
	<div class="row">
		<div class="col s6">
			<div class="temprecher">
				{{temprecher}}°C
			</div>
			{{date}}
		</div>
		<div class="col s6">
			<table>
				<th class="center">Wind</th>
				<th class="center"> {{speed}} m/s</th>
				<tr >
					<th class="center">Cloudiness</th>
					<th class="center">Overcast clouds</th>
				</tr>
				<tr>
					<th class="center">Pressure</th>
					<th class="center">{{hpa}} hpa</th>
				</tr>
				<tr>
					<th class="center">Humidity</th>
					<th class="center">{{humidity}} %</th>
				</tr>
				<tr>
					<th class="center">Sunrise</th>
					<th class="center">{{sunrise}}</th>
				</tr>
				<tr>
					<th class="center">Sunset</th>
					<th class="center">{{sunset}}</th>
				</tr>
				<tr>
					<th class="center">Geo Records</th>
					<th class="center">[{{latitude}}, {{longtitude}}]</th>
				</tr>
			</table>
		</div>
	</div>
</div>
